<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
  
	<!-- Location of template -->
	<add key="Template Location" value="../../IO/Sample Report 3.xls" />
	
	<!-- Location of cells for header data in generated report. -->
    <add key="Shooter Name" value="C1" />
	<add key="Shoot Date" value="C2" />
	<add key="Range Name" value="C3" />
	<add key="Temperature" value="C4" />
	<add key="Target Distance" value="C5" />
	<add key="Shots Fired" value="C6" />
	<add key="Weapon Name" value="C7" />
	<add key="Weapon Serial Number" value="C8" />
	<add key="Ammo Caliber" value="C9" />
	<add key="Ammo Lot Number" value="C10" />
	<add key="Ammo Mass" value="C11" />
	
	<!-- Location of cells for statistics data in generated report. -->
	<add key="Extreme Spread X" value="H2" />
	<add key="Extreme Spread Y" value="H3" />
	<add key="Extreme Spread" value="H4" />
	<add key="Mean Radius" value="H5" />
	<add key="Sigma X" value="H6" />
	<add key="Sigma Y" value="H7" />
	<add key="Furthest Left" value="H8" />
	<add key="Furthest Right" value="H9" />
	<add key="Highest Round" value="H10" />
	<add key="Lowest Round" value="H11" />
	
	<!-- Formating -->
	<add key="Date Format" value="m/dd/yyyy" />
  </appSettings>
</configuration>